.fraction, .top, .bottom {
    padding: 0 5px;
}

.fraction {
    display: inline-block;
    text-align: center;
}

.bottom{
    border-top: 1px solid #000;
    display: block;
}

.integerpart {
    vertical-align: 15px;
}